<footer class="site-footer">
  <div class="inner">
    <section class="copyright">
      &copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.
      <a href="mailto:sahat@me.com" title="Send E-Mail">Get in touch</a>
    </section>
    <a href="/feed"><i class="fa fa-rss"></i></a>&nbsp;&nbsp;
    <a href="https://twitter.com/EvNowAndForever" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    <a href="https://plus.google.com/+SahatYalkabov?rel=author" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
    <a href="http://linkedin.com/in/sahatyalkabov" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
  </div>
</footer>