<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sahat Yalkabov &middot;  Central</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="css/bootstrap.css" >
  <link rel="stylesheet" href="css/style.css">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<div id="wrap">
  <div class="container">

    <div class="page-header">
      <h1>Sahat Yalkabov</h1>
    </div>

    <p class="lead">Computer Science undergraduate student from City College of New York.</p>

    {{ content }}

  </div>


  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit">&copy; 2012. Some Rights Reserved.</p>
  </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>