<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
<aside>
  <a href="/"><img src="/images/yahoo.png" alt="Sahat Yalkabov"></a>
  <section>
    <h2>Sahat Yalkabov</h2>
    <p>
      Follow me on
      <a href="https://twitter.com/EvNowAndForever">Twitter</a>,
      <a href="http://www.linkedin.com/in/sahatyalkabov">LinkedIn</a>,
      <a href="https://github.com/sahat">GitHub</a>,
      or send me an <a href="mailto:sahat@me.com">email</a>.
    </p>
    <p>♪ <a href="https://www.youtube.com/watch?v=k5pbWv5m__4" target="_blank">Elvira T</a></p>
  </section>
</aside>

<main>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
  {{content}}
  {% include footer.html %}
</main>

{% include scripts.html %}
</body>
</html>
