<!DOCTYPE html>
<head>
{% include head.html %}
</head>

<body id="page">

<header data-animation="fadeInDownBig">
  {% include navigation.html %}
</header>

<section class="content">
  <article>

    <header class="gradient-{{ page.gradient }}" data-animation="fadeInDownBig">
      <div class="overlay" style="background-image: url(/images/{{ page.image }})" data-parallax="9"></div>
      <div class="excerpt">
        <span class="title">1 minute</span>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p>{{ page.excerpt }}</p>
      </div>
    </header>

    <div class="body">
      {{ content }}


    </div>
  </article>
</section>

<footer data-animation="fadeInUp">
  {% include footer.html %}
</footer>

{% include scripts.html %}

</body>
</html>
