<!DOCTYPE html>
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<section class="content">
  <article>

    <header class="gradient-{{ page.gradient }}">
      <div class="overlay" style="background-image: url(/images/{{ page.image }})"></div>
      <div class="excerpt">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p>{{ page.excerpt }}</p>
      </div>
    </header>

    <div class="body">
      {{ content }}
    </div>
  </article>
</section>

{% include footer.html %}

{% include scripts.html %}

</body>
</html>
