<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

{% if page.image.feature %}
<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="/images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<section class="content">
  <article>
    <header class="header-title">
      <div class="header-title-wrap">
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2>{{ page.date | date: "%B %d, %Y" }}</h2>
      </div><!-- /.header-title-wrap -->
    </header>
    <div class="body">
      {{ content }}

      <footer>
        <div class="meta">
          <div class="author visible animated fadeInUp" data-animation="fadeInUp">
            <span class="title">Written by</span>
            <h4>{{ site.owner.name }}</h4>
            <p>{{ site.owner.bio }}</p>
            <ul>
              <li><a href="http://twitter.com/{{ site.owner.twitter }}" title="Twitter" class="icon twitter">Twitter</a></li>
              <li><a href="http://facebook.com/{{ site.owner.facebook }}" title="Facebook" class="icon facebook">Facebook</a></li>
              <li><a href="http://plus.google.com/{{ site.owner.google_plus }}" title="Google Plus" class="icon google">Google+</a></li>
              <li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="LinkedIn" class="icon linkedin">LinkedIn</a></li>
              <li><a href="/feed.xml" title="RSS" class="icon rss">RSS</a></li>
            </ul>
          </div>

          <div class="share visible animated fadeInUp" data-animation="fadeInUp">
            <span class="title">Share</span>
            <ul>
              <li><a href="https://twitter.com/home?status={{ page.title }} {{ site.url }}{{ page.url }} via @EvNowAndForever" title="Tweet" class="icon twitter">Tweet</a></li>
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" title="Like" class="icon facebook">Like</a></li>
              <li><a href="https://plus.google.com/share?url={{ page.url }}" title="+1" class="icon google">+1</a></li>
            </ul>
          </div>

        </div>

        <div class="comments" data-animation="fadeInUp">
          <span class="title">Comments</span>
          <div id="disqus_thread"></div>
        </div>

        <div class="pagination" data-animation="fadeInUp">
          {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="" class="btn">Previous</a>
          {% else %}
          <a href="/page{{ paginator.previous_page }}" title="Older" class="button older">Older</a>
          {% endif %}
          {% else %}
          Previous
          {% endif %}
          {% if paginator.next_page %}
          <a href="/page{{ paginator.next_page }}" title="Newer" class="button newer">Newer</a>
          {% else %}
          Next
          {% endif %}
        </div>
      </footer>
    </div>
  </article>
</section>

<footer data-animation="fadeInUp">
  {% include footer.html %}
</footer>

{% include scripts.html %}	        

</body>
</html>
