<!DOCTYPE html>
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<section class="content">
  <article>

    <header class="gradient-{{ page.gradient }}">
      <div class="overlay" style="background-image: url(/images/{{ page.image }})"></div>
      <div class="excerpt">
      <span class="title"><span class="eta"></span> read</span>
      <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
      <p>{{ page.excerpt }}</p>
      <span class="meta">Published on <strong>{{ page.date | date: "%B %d, %Y" }}</strong></span>
      </div>
    </header>

    <div class="body">
      {{ content }}
    </div>

    <footer>
      <div class="meta">

        <div class="author">
          <span class="title">Written by</span>
          <h4>{{ site.owner.name }}</h4>
          <p>{{ site.owner.bio }}</p>
          <ul>
            <li><a href="http://twitter.com/{{ site.owner.twitter }}" title="Twitter" class="icon twitter">Twitter</a></li>
            <li><a href="http://facebook.com/{{ site.owner.facebook }}" title="Facebook" class="icon facebook">Facebook</a></li>
            <li><a href="http://plus.google.com/{{ site.owner.google_plus }}" title="Google Plus" class="icon google">Google+</a></li>
            <li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="LinkedIn" class="icon linkedin">LinkedIn</a></li>
          </ul>
        </div>

        <div class="share">
          <span class="title">Share</span>
          <ul>
            <li><a href="https://twitter.com/home?status={{ page.title }} {{ site.url }}{{ page.url }} via @EvNowAndForever" title="Tweet" class="icon twitter">Tweet</a></li>
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" title="Like" class="icon facebook">Like</a></li>
            <li><a href="https://plus.google.com/share?url={{ page.url }}" title="+1" class="icon google">+1</a></li>
          </ul>
        </div>

      </div>
    </footer>
  </article>
</section>

{% include footer.html %}

{% include scripts.html %}	        

</body>
</html>
